.cell-content {
  display: block;
  width: 100%;
  min-height: 1rem;
}

wch-content {
  display: block;
}

.dndPlaceholder {
  width: 100%;
  height: 2rem;
  background-color: lightskyblue;
  border: 1px solid mediumblue;
}
